name: Deploy to Github pages
on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: Checkout repository
      - run: npm ci
        name: Install dependencies
      - run: npx vite build
        name: Build project
      - uses: actions/upload-pages-artifact@v4
        id: deployment
        name: Upload built artifact
        with:
          path: dist/
  deploy: 
    concurrency:
      cancel-in-progress: true
      group: deploy
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
        name: Deploy to Github pages


